<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color blue-gradient"
            [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand"
       href="#">Víctor Martínez</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light"
           mdbWavesEffect>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light"
           mdbWavesEffect>Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light"
           mdbWavesEffect>Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light"
           mdbWavesEffect>Skills</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab
                    icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab
                    icon="github"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<!-- Full Page Intro -->
<div class="view jarallax"
     style="background-image: url('assets/code.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4 white-text text-center">
          <!--Avatar-->
          <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
              <img src="assets/profile.jpeg"
              class="rounded-circle img-fluid profile">
            </div>
          </div>

          <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
              data-wow-delay="0.3s"><strong>Víctor Martínez</strong></h1>
          <hr class="hr-light my-4 wow fadeInDown"
              data-wow-delay="0.4s">
          <h5 class="text-uppercase mb-4 white-text wow fadeInDown"
              data-wow-delay="0.4s"><strong>Software Engineer</strong></h5>
          <p><strong>+52 81 3052 0286</strong></p>
          <p> <strong>victorandresmtz@gmail.com</strong></p>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
